<p>
  <mat-toolbar fxLayout="row" color="primary">
    <!-- <div fxLayout="row"> -->
      <div fxLayoutAlign="space-evenly">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span fxFlex>Angular12 + MongoDB Demo</span>
      <!-- <div fxLayoutAlign="space-evenly">Angular12 + MongoDB Demo</div> -->
      <div fxLayoutAlign="space-evenly">
        <button mat-raised-button [routerLink]="['/books-list']"
          style="margin-right:20px">Show Books List</button>
        <button mat-raised-button color="accent" [routerLink]="['/add-book']"
          style="margin-right:20px">Add Book</button>
      </div>
   <!-- </div> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->

        <!-- <button mat-raised-button [routerLink]="['/books-list']"
          style="margin-right:20px">Show Books List</button>
          <button mat-raised-button color="accent" [routerLink]="['/add-book']"
          style="margin-right:20px">Add Book</button> -->
    <!-- <div fxFlexOffset="margin-right">Angular12 + MongoDB Demo</div> -->
    <!-- <span>Angular12 + MongoDB Demo</span> -->
    <!-- <span class="example-spacer"></span> -->
    <!-- <div fxFlexOffset="margin-right"> -->
      <!-- <div class="example-button-row"> -->
        <!-- <button mat-raised-button [routerLink]="['/books-list']"
          style="margin-right:20px">Show Books List</button>
        <button mat-raised-button color="accent" [routerLink]="['/add-book']"
          style="margin-right:20px">Add Book</button> -->
      <!-- </div> -->
    <!-- </div> -->
  </mat-toolbar>
</p>
